@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Righteous&family=Sofia+Sans+Condensed&display=swap');

/* 
This one is hand written, thin
font-family: 'Edu NSW ACT Foundation', cursive;

this one is bold
font-family: 'Righteous', cursive;

thin, condensed, not handwritten 
font-family: 'Sofia Sans Condensed', sans-serif; 
*/


html {
    margin: 0;
    padding: 0;

    width: 100vw;

    /* Light tan color */
    background: rgb(253,251,224);
    background: linear-gradient(180deg, rgba(253,251,224,1) 10%, rgb(191, 189, 159) 100%);

    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* All items directly under the body will be centered on the webpage */
}

h1, h2 {
    font-size: 4vw;
    text-align: center;
    font-family: 'Righteous', cursive;
}

p {
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 2.5vw;
}

/* this is a div with the ID "header" */
#header {
    /* This div is 30% of the height of the screen it is viewed on. */

    height: 20vh;
    width: 100vw;

    /* This div uses flex-style formatting to center the img inside of it. */
    display: flex;
    align-items: center;
    justify-content: center;


    background-color: white;
    border-bottom: black solid 2px;
}

/* Header is 30vh tall, and the img inside of it is 20vh tall. That leaves 10vh for the nav bar */
#header div {
    display: flex;
    justify-content: center;
    justify-content: align-items;
    height: 100%;
}

#header img {
    height: 100%
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    position: sticky;
    top: 0;

    width: 100vw;
    height: 4vw;

    margin: 0 0 1vh 0;
    padding: 2vh;

    border: black solid 2px;
    border-top: 0px;
    background-color: whitesmoke;
}

#nav a {
    margin: 0 2vw 0 2vw;

    width: 8vw;
    height: 4vw;

    justify-content: center;
}

#nav button {
    height: 100%;
    width: 100%;

    font-size: 1.5vw;
    font-family: 'Righteous', cursive;

    background-color: #DC7190;
    border: 4px solid #b8406b;
    border-radius: 5px;

    cursor: pointer;
}

#nav button:active {
    background-color: #b8406b;
    border-right: #DC7190 4px solid;
    border-bottom: #DC7190 4px solid;
}

/* Applies to all sections. Sections is the tag we will be using for each thing we put in the body, like "about section" "news section" etc. */
section {
    /* Flex direction type makes the elements easier to control. */
    display: flex;

    /* By default, flexed-elements are horizontal. "flex-direction column" makes them vertical*/
    flex-direction: column;

    justify-content: center;

    align-items: center;

    /* makes sections as wide as 90% of the "view width" */
    width: 90vw;

    margin-bottom: 10vh;
}

#about {
    margin-top: 4vw;

    width: 100vw;

    background-color: #d0ceb5;
}

#conservation {
    color: white;
    padding: 10vw 0 10vw 0;

    background-image: url(images/zookeeper_hippo.jpg);
    background-size: cover;
    background-position: center;

    transition: all 2s ease;
}

#conservation button {
    width: 19vw;
    height: 6vw;
    background-color: #71DCBC;
    font-size: 3vw;

    border: 0px solid black;

    border-right: #40b894 4px solid;
    border-bottom: #40b894 4px solid;
    border-radius: 5px;
}

#conservation button:active {
    background-color: #71DCBC;
    border-right: #71DCBC 0px solid;
    border-bottom: #71DCBC 0px solid;
}

#news {
    background-color: rgb(184, 182, 161);
    width: 100vw;
}

#allNewsItems {

    display: flex;
}

#allNewsItems a {
    text-decoration: none;
}

.newsItem {
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: 'Sofia Sans Condensed', sans-serif;
    /* black border, 1px wide, 10px curved corners */
    border: 1px solid black;
    border-radius: 10px;

    padding: 1vw;
    text-align: center;
    font-size: 4vw;
    -webkit-text-stroke: #ffffff 0.01px;
    color: black;


    width: 25vw;
    height: 20vw;
    margin: 10px;
}

#newsItem1 {
    background-image: url(images/BrushWind_Rhino_dark.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#newsItem2 {
    background-image: url(images/BrushWind_Ride_dark.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#newsItem3 {
    background-image: url(images/DontFeed_dark.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.newsItem{
    transition: all 0.5s ease;
}
.enlarge:hover{
    transform: scale(1.05);
    border: #40b894 solid 5px;
}

footer {
    /* items are centered completely using flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Footer section is 20% of the height of the view window */
    height: 10vh;
    width: 100%;
}

footer p, footer h6 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}


/* ************** */
/* AnimalSelector Specific Styles */

#halfOfTypes a {
    text-decoration: none;
}

#animalParagraph {
    color: black;
    margin: 0;
    -webkit-text-stroke: #ffffff 0.5px;
    font-size: 4vw;
}

#f {
    font-size: 45px;
}

#animalType {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 90vw;
}

#halfOfTypes {
    width: 100%;
    margin: 10px;
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
}

#halfOfTypes div {
    border: solid black 1px;
    width: 20vw;
    height: 20vw;

    background-repeat: no-repeat;
    background-color: white;

    transition: all 0.5s ease;
}
#halfOfTypes div:hover{
    border: 5px solid green;
}

/* Mammal */
#mammals {
    background-image: url("images/animals/beaver.jpg");
    background-position: center;
    background-size: 100%;

}

/* Fish */
#fish {
    background-image: url("images/animals/fish.jpg");
    background-position: center;
    background-size: 100%;
}

/* Birds */
#birds {
    background-image: url("images/animals/bird.jpg");
    background-position: center;
    background-size: 50%;
}

/* Amphibians */
#amphibians {
    background-image: url("images/animals/frog.jpg");
    background-position: center;
    background-size: 100%;
}

/* Reptiles */
#reptiles {
    background-image: url("images/animals/reptile.jpg");
    background-position: center;
    background-size: 100%;
}

/* Insect */
#insects {
    background-image: url("images/animals/insect.jpg");
    background-position: center;
    background-size: 50%;
}

/* ********** */
/* News Page */

#rhinoNews, #ride, #dontFeed {
    display: flex;

    flex-direction: column;

    align-items: center;

    margin: 8vw 0 8vw 0;
}

#rhinoNews, #dontFeed {
    width: 100vw;
    background-color: #d0ceb5;
}

#rhinoNews p, #dontFeed p {
    width: 80%
}



/* ************ */
/* Donate Page */


#donateImgs {
    margin: 5vw 0 1vw 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    
    width: 100%;
}

#donateImgs img {
    width: 25vw;
    height: 25vw;

    object-fit: cover;
}

#donatep {
    background-color: #d0ceb5;
    width: 101vw;
}

/* *********** */
/* ticket page */

#ticketp {
    background-color: #d0ceb5;
    width: 101vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;


    border: solid black 1px;
    padding: 3vw;
}

form input{
    background-color: #d0ceb5;
    border-radius: 6px;

    text-align: center;
}

#inputAndOutput {
    display: flex;
    align-items: center;
    width: 80vw;

    justify-content: space-around;
    align-items: center;
}

#ticketOutput {

    display: flex;
    display: none;

    flex-direction: column;
    justify-content: space-around;

    border: black solid 1px;

    min-width: 20vw;
    min-height: 20vw;

    text-align: center;
}

#ticketLookupBtn{
    padding: 5px;

    border: black 0px solid;
    border-radius: 10px;
    border-bottom: #4d80e6 solid 5px;
    background: #8aadf3;

    font-weight: bold;
}
#ticketLookupBtn:active{
    margin-top: 5px;
    border-bottom: #4d80e6 solid 0px;
}

/* Ticket Output Page */
    #ticketLookupOutput{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        width: 40vw;

        border: black dashed 2px;
    }

    #lookupFormSubmitBtn{
        padding: 5px;

        border: black 0px solid;
        border-radius: 10px;
        border-bottom: #e6bd4d solid 5px;
        background: #f3ea8a;

        font-weight: bold;
    }
    #lookupFormSubmitBtn:active{
        margin-top: 5px;
        border-bottom: #e6bd4d solid 0px;
    }



    /* ************* */
    /* Media Queries */
    /* Integration Hell Starts Here */

    /* Nav Bar changes */
    @media (max-width: 750px) {
        #nav{
            height: 10vw;
        }
        #nav a {
            width: 13vw;
            height: 10vw;
        }
        #nav button{
            font-size: 2vw;
        }
    }
    @media (max-width: 530px) {
        #nav{
            height: 15vw;
        }
        #nav a {
            width: 16vw;
            height: 12vw;
        }
        #nav button{
            font-size: 3vw;
        }
    }

    /* About section, main page*/
    @media (max-width: 600px) {
        #about p {
            font-size: 4vw;
            padding: 0 5vw ;
        }

    }
    @media (max-width: 450px) {
        #about p {
            font-size: 8vw;
            padding: 0 5vw ;
        }
        #about h1{
            font-size: 8vw;
        }
    }

    /* Conservation section */
    @media (max-width: 650px) {
        #conservation p {
            font-size: 4vw;
            padding: 0 5vw ;
        }
    }
    @media (max-width: 450px) {
        #conservation p {
            font-size: 8vw;
            padding: 0 5vw ;
        }
        #conservation h2{
            font-size: 8vw;
        }
        #conservation{
            width: 99vw;
        }
        #conservation button{
            width: 23vw;
        }
    }